.polaroid {
  --rotleft: -10deg;
  --rotright: 4deg;
  display: flex;
  width: 340.965px;
  height: 380px;
  padding: 20px 20px 0px 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: -5px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #cfcfd2;
  &.polaroid--rot-right {
    transform: rotate(var(--rotright));
  }
  &.polaroid--rot-left {
    transform: rotate(var(--rotleft));
    position: relative;
    left: -80px;
    top: -30px;
  }
  & .polaroid-img {
    width: 100%;
    height: 80%;
  }
  & .polaroid-text {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.polaroid-double {
  display: flex;
  gap: 0px;
}
@media (max-width: 1000px) {
  .polaroid-double {
    flex-direction: column;
    gap: 1rem;
    & .polaroid.polaroid--rot-left {
      left: 0;
    }
  }
}
.event-wrapper {
  text-decoration: none;
  height: 100%;
}
.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  text-align: center;
  height: 100%;
  justify-content: center;
  transition: transform 0.2s ease-in-out, border-radius 0.1s ease-in;
  &:hover {
    transform: scale(1.05);
    border-radius: 24px;
  }
  &.event-card-big {
    width: 100%;
    padding: 104px 58px;

    & .event-title {
      font-size: var(--h2);
      font-weight: 700;
    }
  }

  &.event-card-small {
    width: 100%;
    padding: 40px;

    & .event-title {
      font-size: var(--h3);
      font-weight: 600;
    }
  }
  & .event-date {
    font-size: var(--h5);
  }

  &.event-card-red {
    background: var(--red, #761a24);
    color: var(--creme-hvid);
    & .event-date {
      color: var(--gulorange);
    }
  }

  &.event-card-yellow {
    background: var(--gulorange);
    color: var(--creme-hvid);
    & .event-date {
      color: var(--green);
    }
  }

  &.event-card-turkis {
    background: var(--turkis);
    color: var(--creme-hvid);
    & .event-date {
      color: var(--darkblue);
    }
  }

  &.event-card-creme {
    background: var(--creme-hvid);
    color: var(--green);
    & .event-date {
      color: var(--gulorange);
    }
  }

  &.event-card-blue {
    background: var(--darkblue);
    color: var(--creme-hvid);
    & .event-date {
      color: var(--gulorange);
    }
  }

  &.event-card-green {
    background: var(--green);
    color: var(--creme-hvid);
    & .event-date {
      color: var(--gulorange);
    }
  }
}
.folkebar-frame {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;

  & .frame-svg {
    width: 100%;
    height: auto;
    display: block;
  }

  & .frame-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-7deg);
    color: var(--darkblue);
    text-align: center;
    pointer-events: none;
    font-family: "Lobster", sans-serif;

    & > * {
      font-weight: 400;
      font-style: normal;
    }
  }
}

.dashed-box {
  display: flex;
  transform: rotate(2.06deg);
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 2px dashed var(--red);
  color: var(--red);
  font-family: "Truculenta", sans-serif;
  font-weight: 400;
  font-style: normal;
  & .box-header {
    font-size: var(--h4);
    text-align: center;
    margin-bottom: 10px;
  }

  & .box-text {
    font-size: var(--h6);
    text-align: center;
  }
}
