/* Nav-bar variables */
.nav-items .nav-item1 {
  --nav-rot: -6deg;
  --top: 15px;
}
.nav-items .nav-item2 {
  --nav-rot: 0deg;
  --top: -20px;
}
.nav-items .nav-item3 {
  --nav-rot: 5deg;
  --top: 20px;
}
.nav-items .nav-item4 {
  --nav-rot: 0deg;
  --top: -20px;
}
/* Nav-bar animations */
@keyframes floating {
  0% {
    transform: translateY(0px) rotate(var(--nav-rot));
  }

  50% {
    transform: translateY(var(--top)) rotate(var(--nav-rot));
  }

  100% {
    transform: translateY(var(--top)) rotate(var(--nav-rot));
  }
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 36px var(--padding-width-inner) 12px;
  background: url(/img/nav-bg-first.svg);
  position: relative;
  z-index: 100;
  & .nav-logo {
    width: 120px;
    height: auto;
  }
  & .nav-items {
    display: flex;
    list-style-type: none;
    font-size: var(--h6);
    font-weight: 600;
    & .nav-item1,
    .nav-item2,
    .nav-item3,
    .nav-item4 {
      border: 4px solid var(--turkis);
      padding: 6px;
      width: 164px;
      text-align: center;
      border-radius: 24px;
      background-color: var(--hvid);
      & a {
        color: var(--green);
        text-decoration: none;
        padding: 6px 30px;
      }
      &.active {
        background-color: var(--green);

        & a {
          color: var(--creme-hvid);
        }
      }
      &:hover {
        background-color: var(--green);
        z-index: 5;
        animation: floating 0.6s ease-in-out forwards;
        & a {
          color: var(--creme-hvid);
          padding: 26px 30px;
        }
      }
    }

    & .nav-item1 {
      transform: rotate(var(--nav-rot));
      position: relative;
      left: 45px;
      top: -15px;
      z-index: 1;
    }

    & .nav-item2 {
      position: relative;
      left: 10px;
    }

    & .nav-item3 {
      transform: rotate(var(--nav-rot));
      position: relative;
      left: -30px;
      top: -20px;
      z-index: 1;
    }

    & .nav-item4 {
      position: relative;
      left: -70px;
    }
  }
}

.mobile-nav {
  display: flex;
  align-items: center;
  background: var(--green);
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  z-index: 999;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.7s ease-out;
  & a {
    text-decoration: none;
    color: var(--gulorange);
    font-size: var(--h4);
  }
  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .close-button {
    position: absolute;
    top: 36px;
    right: var(--padding-width-inner);
    padding: 1rem;
  }

  &.opened {
    transform: translateX(0);
  }
}
.remove-scrolling {
  height: 100%;
  overflow: hidden;
}

.socials.socials-menu {
  display: flex;
  gap: 1rem;
  & a {
    padding: 10px
  };
}
@media (max-width: 1050px) {
  .nav-bar .nav-items {
    display: none;
  }

}
