/* CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End of reset CSS */
.test {
  background: url(/img/lilli-bar.JPG) lightgray 50% / cover no-repeat;
}
:root {
  /* Color Palette */
  --creme-hvid: #f2dfd8;
  --green: #18402d;
  --red: #761a24;
  --gulorange: #e09b3e;
  --turkis: #3fa693;
  --darkblue: #171c2f;
  --hvid: #ffffff;
  /* Typography Scale */
  --h1: calc(1rem * 1.333 * 1.333 * 1.333 * 1.333 * 1.333 * 1.333);
  --h2: calc(1rem * 1.333 * 1.333 * 1.333 * 1.333 * 1.333);
  --h3: calc(1rem * 1.333 * 1.333 * 1.333 * 1.333);
  --h4: calc(1rem * 1.333 * 1.333 * 1.333);
  --h5: calc(1rem * 1.333 * 1.333);
  --h6: calc(1rem * 1.333);
  --small: calc(1rem / 1.333);

  /* Padding variables */
  --padding-width-inner: 10%;
  --section-padding: 0 80px 20px 80px;
  --padding-general: 80px;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
p {
  font-size: 1rem;
}
small {
  font-size: var(--small);
}

body {
  background-color: var(--creme-hvid);
  font-family: "segoe-ui", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--gulorange);
}
.white {
  color: var(--creme-hvid);
}
.pure-white {
  color: #fff;
}
.green-bg {
  background-color: var(--green);
}

.index-header {
  width: 100%;
  height: 100dvh;
}

.page-header {
  display: grid;
  grid-template-columns: 5fr 7fr;
  height: 80%;
  padding: 80px var(--padding-width-inner);
  margin: 0 var(--padding-general);

  & .logo-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .header-slideshow {
    width: 100%;
    position:relative;
  }
}

.index-section {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);

  & .section-container {
    display: flex;
    gap: var(--h2);
    padding: 80px var(--padding-width-inner);
    align-items: center;
    &.grid-container {
      justify-content: center;
    }
    & .container-text-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    & .container-img {
      width: 100%;
      height: 400px;
      position: relative;
      & .img-border {
        position: absolute;
        top: 20px;
        left: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        object-fit: cover;
        border: 10px solid #fff;
      }
      & .guitar {
        transform: rotate(5deg);
        position: absolute;
        left: -150px;
        bottom: -50px;
      }
      & .dice {
        transform: rotate(-15deg);
        position: absolute;
        right: -100px;
        bottom: -50px;
      }
      &.right-rotate {
        transform: rotate(5deg);
      }
      &.left-rotate {
        transform: rotate(-5deg);
      }
    }
  }
  .section-headers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: var(--padding-width-inner);
  }
}
.gallery-grid {
  display: grid;
  grid-template-rows: 322.67px 322.67px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 48px;
  & .gallery-item {
    background-color: #ccc;
    width: 322.67px;
    height: 322.67px;
    border: 5px solid var(--creme-hvid);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .gallery-item:nth-child(odd) {
    transform: rotate(5deg);
  }
}

.drop-image {
  position: absolute;
  top: -400px;
  left: 65%;
  transform: translateX(-50%) scale(0.95);
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: top 0.8s cubic-bezier(0.2, 0.8, 0.2, 1), transform 0.6s ease,
    opacity 0.4s ease;
}

.drop-image--land {
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(var(--rot));
  opacity: 1;
}
.event-grid {
  display: grid;
  height: 636px;
  row-gap: 24px;
  column-gap: 24px;
  align-self: stretch;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));

  & .event-tile {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    justify-self: stretch;
    background-color: var(--gulorange);
  }
}
.form-headers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  width: 100%;
  height: 400px;
  background-color: var(--green);
}

footer {
  display: flex;
  padding: 108px 80px;
  align-items: flex-start;
  background-color: var(--green);
  gap: 24px;
  & .footer-rows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
  }
  & .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
  }
}
