.event-display {
  display: flex;
  width: 100%;
}

.left-column,
.middle-column,
.right-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  padding: var(--padding-general);
  text-align: center;
  color: var(--green);
}
.event-img {
  transform: rotate(3deg);
  padding-top: 10%;
  & img {
    border: 10px solid #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }
}

.event-knap-container {
  margin-top: 1rem;
}
.event-knap {
  border: 4px solid var(--darkblue);
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 16px;
  background-color: var(--darkblue);
  font-size: var(--h6);
  font-weight: 700;
  text-decoration: none;
  color: var(--creme-hvid);
  transition: 0.3s ease-in-out;
  &:hover {
    color: var(--darkblue);
    background-color: var(--creme-hvid);
  }
}

.book-event {
  display: flex;
  justify-content: end;
  & a{
    border: 4px solid var(--green);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 16px;
    background-color: var(--green);
    font-size: var(--h6);
    font-weight: 700;
    text-decoration: none;
    color: var(--gulorange);
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--green);
      background-color: var(--creme-hvid);
    }
  }
}
@media (max-width: 1200px) {
   .title {
    padding: 1rem;
  }
}
@media (max-width: 1060px) {
   .event-display {
    flex-direction: column;
  }

}
@media (max-width: 768px) {
  .page-header.event-header {
    grid-template-columns: 1fr;
    padding: 40px var(--padding-width-inner);
    margin: 0 var(--padding-general);
    height: auto;

    & .event-img {
      order: -1;
      transform: rotate(0deg);
      margin-bottom: 1rem;
    }
  }


 
}
